<a href="https://colab.research.google.com/github/madhavjk/DataScience-ML_and_DL/blob/main/Session_4(Functions).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions

In [ ]:
def function_name():
    print("Hello")

In [ ]:
function_name()

Hello

In [ ]:
def add(num1, num2):
    num3 = num1 +num2
    print(num3)

In [ ]:
add(1,2)

3

In [ ]:
def add(num1,num2):
    return num1+num2

In [ ]:
a = add(2,3)
a

5

In [ ]:
def division(num1, num2 = 1):
    return num1//num2

In [ ]:
a = division(6,2)
a

3

In [ ]:
a = division(6)
a

6

In [ ]:
def division(num1 = 1, num2 = 1):
    return num1//num2

In [ ]:
division()

1

In [ ]:
def details(stud_id, name, age):
    print(stud_id)
    print(name)
    print(age)
details(102, "Tom", 24)

102
Tom
24

In [ ]:
details(101, name = "John", age = 25)

101
John
25

In [ ]:
details(101, "John", 25)

101
John
25

In [ ]:
details(name = "John", age = 25, stud_id = 101)

101
John
25

In [ ]:
details(101, age = 25, name = "John")

101
John
25

In [ ]:
details( age = 25, "John",101)

SyntaxError: positional argument follows keyword argument (<ipython-input-26-f0fa130b47be>, line 1)

In [ ]:
details( 101,"John",age = 25)

101
John
25

## *args

In [ ]:
def add(num1,num2):
    return num1+num2

In [ ]:
def add(num1,num2,num3):
    return num1+num2+num3

In [ ]:
def add(num1,num2,num3,num4):
    return num1+num2+num3+num4

In [ ]:
def add(*numbers):
    return sum(numbers)

In [ ]:




add(1,2)

3

In [ ]:
add(1,2,3,4,5)

15

In [ ]:
add(1,2,3,4,5,6,7,8,9)

45

In [ ]:
add(1,2,3,4,5)

15

## **kwargs

In [ ]:
def details(**kwargs):
    print(kwargs)

In [ ]:
details(first_name = "John", last_name= "wick",city="xyx")

{'first_name': 'John', 'last_name': 'wick', 'city': 'xyx'}

In [ ]:
details(first_name = "John", last_name= "wick")

{'first_name': 'John', 'last_name': 'wick'}

In [ ]:
details(first_name = "John")

{'first_name': 'John'}

In [ ]:
def marks(*marks, **details):
    print(marks)
    print(details)

In [ ]:
marks(90,90,90, name = "John", roll_no = 24)

(90, 90, 90)
{'name': 'John', 'roll_no': 24}

In [ ]:
def marks(**details, *marks):
    print(marks)
    print(details)

SyntaxError: invalid syntax (<ipython-input-55-9493a036ce80>, line 1)