<a href="https://colab.research.google.com/github/madhavjk/DataScience-ML_and_DL/blob/main/Session_6(OOP).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# OOP in python

## Inheritance
## Polymorphism
## Encapsulation
## Abstraction

In [ ]:
class Abc:
    pass

In [ ]:
c1 = Abc()

In [ ]:
type(c1)

__main__.Abc

In [ ]:
class Student:
    def __init__(self, name, age):
        self.name = name
        self.age = age

In [ ]:
s1 = Student("John",30)

In [ ]:
print(s1.name)
print(s1.age)

John
30

In [ ]:
s2 = Student("Tommy",25)
s3 = Student("Eric", 30)

In [ ]:
print(s1.name,s1.age)
print(s2.name,s2.age)
print(s3.name,s3.age)

John 30
Tommy 25
Eric 30

In [ ]:
class Student:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def display(self):
        print(self.name)
        print(self.age)

In [ ]:
s1 = Student("John",30)
s2 = Student("Tommy",25)
s3 = Student("Eric", 30)

In [ ]:
s1.display()

John
30

In [ ]:
s2.display()

Tommy
25

In [ ]:
class Student:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def get_details(self):
        self.name = input("Enter name: ")
        self.age  = int(input("Enter age :"))
    
    def display(self):
        print(self.name)
        print(self.age)

In [ ]:
s1 = Student("John",30)
s1.display()

John
30

In [ ]:
s1.get_details()

Enter name: Tom
Enter age :25

In [ ]:
s1.display()

Tom
25

In [ ]:
class Person:
     def __init__(self, name, age):
        self.name = name
        self.age = age
    
     def display(self):
        print(self.name)
        print(self.age)

In [ ]:
class Employee(Person):
    def __init__(self,name,age,city):
        super().__init__(name,age)
        self.city = city
        
    def display(self):
        super().display()
        print(self.city)

In [ ]:
e1 = Employee("John",30,"Jaipur")

In [ ]:
e1.display()

John
30
Jaipur

In [ ]:
list(filter(lambda x: x%3 ==0, list(range(11))))

[0, 3, 6, 9]